name: scrape
on:
  workflow_dispatch:
  schedule:
    - cron: '5 8 * * 0'
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install software
        run: sudo apt-get install -y chromium-browser
        run: sudo apt-get update
      - name: Install all necessary packages
        run: pip install requests beautifulsoup4 pandas webdriver-manager selenium regex chromedriver-py==98.0.4758.48
      - name: Run the scraping script
        run: python autoscraper.py
      - name: Commit and push if content changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push